{{ with .Site.Params.about }}
{{ with .logo_image }}<img class="about__image" src="{{ . | absURL }}" alt="Me">{{ end }}
<div class="aside__about">
    {{ with .logo }}<span class="about__logo" role="img">{{ . }}</span>{{ end }}
    <h1 class="about__title">{{ .title }}
    {{ with .description }}<p class="about__description">{{ . | markdownify }}</p>{{ end }}
    </h1>
</div>
{{ end }}

<ul class="aside__social-links">
    {{ range $item := .Site.Params.socialLinks }}
    <li>
        <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}" title="{{ $item.title }}"><i class="{{ $item.icon }}" aria-hidden="true"></i></a>&nbsp;
    </li>
    {{ end }}
</ul>