{{ define "main" }}
    <header class="content__header">
        <h1>ls -ltr --summarize ./{{ .Title | markdownify }}</h1>
        <p></p>
    </header>

    {{ range .Pages }}
    <article class="post">
        {{ $title := .Title }}
            {{ if .Params.displayTitle }}
                {{ $title = .Params.displayTitle }}
            {{ end }}
        <header class="post__header">
            <span class="date">{{ .Date.Format "2006-01-02" }} | </span><a href="{{ .Permalink }}">{{ $title | markdownify }}</a>
            {{ if .Params.Subtitle }}
            <p class="post__meta">or: {{ .Params.Subtitle }}</p>
            {{ end }}
        </header>
    </article>
    {{ end }}
{{ end }}

{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
{{ end }}
