:root {
    --logo: #7c589e;
    text-transform: lowercase; /* no gods no masters */
}

.footnote-ref {
    font-size: 12px;
}

.upper {
    text-transform: uppercase; /* chaos reigns */
}

h1:before { content: "$ "; }
h2:before { content: "# "; }
h3:before { content: "## "; }
h4:before { content: "### "; }
h5:before { content: "#### "; }
h6:before { content: "##### "; }

h1:before {
    color: var(--base0B);
}

.date {
    font-size: 16px;
}

.page__body {
    min-height: 20rem;
}

.page__logo-inner:after {
    content: "]";
}

/* make image round and capped at 240px*/
.about__image {
    width: 240px;
    height: auto;
    border-radius: 50%;
}

.about__description {
    font-weight: normal;
}

/* Hide side section on small devices */
@media (max-width: 45rem) {
    .page__aside {
        display: none;
    }
    .footer__lang {
        display: none;
    }
}