{{ define "main" }}
  <header class="content__header">
    <h1>pwd</h1>
  </header>
  <p>/travis/mind/welcome</p>
  <h2>latest posts</h2>
  <div class="content__body">
    {{ range first 5 (where .Site.RegularPages "Type" "posts") }}
    <article class="post">
      {{ $title := .Title }}
        {{ if .Params.displayTitle }}
          {{ $title = .Params.displayTitle }}
        {{ end }}
      <li><a href="{{ .Permalink }}">{{ $title | markdownify }}</a></li>
    </article>
    {{ end }}
    <p>{{ .Content }}</p>
  </div>
{{ end }}

{{define "aside" }}
  {{ if .Params.tagline }}<p>{{ .Params.tagline }}</p>{{ end }}
{{ end }}